[Unit]
Description=Pi Omni Monitor Dashboard
After=network.target

[Service]
Type=simple
User={{USER}}
Group={{GROUP}}
WorkingDirectory={{DIR}}
ExecStart={{DIR}}/venv/bin/python {{DIR}}/app.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
